body {
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #062F4F;
}

.sketchpad {
    box-shadow: 10px 10px 15px 15px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

.header {
    text-align: center;
    width: 100%;
    background-color: #03192be1;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    color: rgb(226, 226, 226);
}

.header h1 {
    margin: 0px;
    padding: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 18px;
    color:rgb(226, 226, 226);
    background-color:#03192b;
}



