body {
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #062F4F;
    font-family:'Courier New', Courier, monospace;
}

.main {
    display: flex;
    flex-flow: row nowrap;
}

.color-pallette, .tools {
    width: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 20px;
}

button {
    cursor: pointer;
    font-weight: bold;
}

.color-pallette button, .tools button {
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 50%;
    box-shadow: 4px 2px 12px 2px black;
    transition: 0.23s;
}

.color-pallette button:hover, .tools button:hover {
    height: 50px;
    width: 50px;
}

.tools button:hover {
    background-color:#ffffff;
    color: #000000;
}

#white {
    background-color:#ffffff;
}

#black {
    background-color:#000000;
}

#brown {
    background-color:#a52a2a;
}

#purple {
    background-color:#800080;
}

#pink {
    background-color:#d87093;
}

#red {
    background-color:#ff0000;
}

#orange {
    background-color:#ff4500;
}

#green {
    background-color:#008000;
}

#yellow {
    background-color:#ffff00;
}

.sketchpad {
    margin: 40px;
    box-shadow: 10px 10px 15px 15px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
    width: 100%;
    background-color: #03192be1;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    color: #e2e2e2;
}

.header h1 {
    margin: 0px;
    padding: 20px;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 18px;
    color:#e2e2e2;
    background-color:#03192b;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.buttons button {
    width: 240px;
    margin-top: 15px;
    color:#e2e2e2;
    font-size: 18px;
    background-color: #062F4F;
    padding: 18px;
    border-radius: 10px;
    border: 3px solid #1f75b8;
    transition: 0.5s;
}

button:hover {
    color: #e2e2e2;
    background-color:#1f75b8;
}


a {
    text-decoration: none;
    padding-left: 5px;
    color:#e2e2e2;
}

a:hover {
    color:#808080;
}

.buttons {
    display: flex;
    gap: 20px;
}



